<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Check the Weather</h1>
    <form method="post">
    {% csrf_token %}
    <label for="city">City:</label>
    <input type="text" name="city" id="city">
    <button type="submit">Get Weather</button>
    </form>

    {% if weather %}
        <h2>Weather in {{ weather.city }}</h2>
        <p>Temperature: {{ weather.temperature }} °F</p></p>
        <p>Description: {{ weather.description }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}   
</body>
</html>